.products-container{
    display: flex;
    width: 100%;
}

.products_category-container{
    width: 18%;
}

.products_product-container{
    width: 82%;
}

.product-box{
    /* border-left: 1px solid #ccc; */
    padding-left: 10px;
    padding-top: 10px;
}

.product-box-category{
    padding-top: 10px;
    top: 70px;
}



.product-spaceBox{
    height: 5em;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.product-spaceBox h4{
    position: absolute;
    bottom: 0;
    left: 10px;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.products_category-container li{
    font-family: poppins, sans-serif;
    color: var(--pri-color);
    margin-bottom: 15px;
}

.products_category-container .Link{ 
    text-decoration: none;
    color: var(--pri-color);
}
