.socialMedia-container {
    width: max-content;
    height: min-content;
    display: flex;
    margin: 0;
    padding: 0;
}

.socialMedia-container li {
    margin: 0 5px;
}

.socialMedia-container li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    transition: .5s;
    z-index: 5;
}

.socialMedia-container li a:hover {
    color: #fff !important;
}

.socialMedia-container li a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .5s;
}

.socialMedia-container li a:hover:before {
    transform: scale(1);
}

.socialMedia-container li:nth-child(1) a:hover:before {
    background-color: #1C74F4;
}

.socialMedia-container li:nth-child(2) a:hover:before {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.socialMedia-container li:nth-child(3) a:hover:before {
    background-color: #D34738;
}

.socialMedia-container li:nth-child(4) a:hover:before {
    background-color: #0EC244;
}

.socialMedia-container li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.336);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: ping 2.5s ease-in-out infinite both;
    animation: ping 2.5s ease-in-out infinite both;
}


@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes ping {
    0% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
        opacity: 0.8;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}