*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pri-color: #009FE3;
    --pri-btnAdd: rgb(5, 145, 68);
}

body{
    background-color: #F6F6F6;
}

section{
    width: 95%;
    margin: auto;
    padding: 25px 0;
}

li{
    list-style: none;
}

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.routes{
    background-color: #F6F6F6;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100vh;
    position: relative;
}

.addBtn{
    display: flex;
    align-items: center;
    width: max-content;
    border: 2px solid var(--pri-btnAdd);
    padding: 3px 5px;
    cursor: pointer;
    color: var(--pri-btnAdd);
    border-radius: 10px;
    transition: .5s;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    background-color: #fff;
}
.addBtn:hover{
    background-color: var(--pri-btnAdd);
    color: #fff;
    transition: .5s;
}
.addBtn:active{
    transform: scale(.9);
    /* transition: .5s; */
}

.addBtn p{
    margin: 0;
    margin-left: 5px;
    font-family: poppins;
}