*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pri-color: #009FE3;
}

body{
    background-color: #F6F6F6;
}
body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(13deg, #ecb0f5 14%,#95a1f7 64%);
    transition: .2s;
}
body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #ecb0f5 14%,#95a1f7 64%);
    transition: .2s;

}
body::-webkit-scrollbar-track{
    background: #ccc;
    box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}

section{
    width: 95%;
    margin: auto;
    padding: 25px 0;
}

li{
    list-style: none;
}

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.routes{
    background-color: #F6F6F6;
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100vh;
    position: relative;
}