.bestSeller-container{
    display: flex;
    margin: 10px 0 0 0;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 15px;
}

.bestSeller-container::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
.bestSeller-container::-webkit-scrollbar-thumb{
    background: linear-gradient(13deg, #ecb0f5 14%,#95a1f7 64%);
    border-radius: 10px;
    transition: .2s;
}
.bestSeller-container::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #ecb0f5 14%,#95a1f7 64%);
    transition: .2s;

}
.bestSeller-container::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}